* {
    margin: 0;
    padding: 0;
}

body {
    box-sizing: border-box;
    background-color: whitesmoke;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    background-color: white;
    width: 100%;
    height: 10%;
    display: flex;
    align-items: center;
    justify-content:space-between;
    flex-wrap: wrap;
    gap:5px;
    background-color: rgb(14, 11, 11);
}

footer{
    background-color:rgb(14, 11, 11);
    padding: 2%;
    display:flex;
    color: white;
    justify-content: space-between;
    align-items: center;
}
.image {
    padding-left: 1%;
    padding-top: 2px;
    width: 15rem;
    height: 5rem;
    /* height:10%; */
    /* flex-grow: 1; */
}

.image>img {
    width: 100%;
    height:100%;
}

nav {
    display: flex;
    justify-content: space-evenly;
    width: 90%;
    flex: 1 1
}

nav>input{
    width:40%
}

nav>a, ::placeholder {
    text-decoration: none;
    padding: 10px 40px;
    background-color: whitesmoke;
    border-radius: 5px;
    font-weight: 500;
    color: black;
}

::placeholder{
    font-weight: 500;
    font-size: large;
    color: rgb(79, 77, 77);
}

nav>a:hover {
    box-shadow: rgb(176, 176, 176) 0px 3px 10px 1px;
    transition: transform .3s ease;
    transform: scale(1.1);
}

.card:hover{
     box-shadow: rgb(176, 176, 176) 0px 3px 10px 1px;
    transition: transform .3s ease;
    transform: scale(1.1);
}

#cards{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

.card {
    margin: 15px;
    width: 30%;
    height:auto;
    background-color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 10px;
    padding: 0px;
    flex-grow: 1;

}

.card>.img-div {
     width: 100%;
     height: 100%;
 }

.card>.img-content {
    width: 60%;
    line-height:1.5em;
}

.card>div img {
    max-height:fit-content;
    max-width:100%;
    padding: 0;
}

#star1{
    color: gold;
}

#header2{
    width:100vw;
    height: 120px;
}